/* filename: Header.css */
header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: rgba(248, 249, 250, 0.8);
    backdrop-filter: blur(10px); /* 毛玻璃模糊效果 */
    -webkit-backdrop-filter: blur(10px); /* 兼容Safari */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    height: 48px;
}

.header-right {
    height: 100%;
    margin: 0;
}

.header-left .name {
    font-size: 1rem;
    font-weight: bold;
    color: #3270af;
    /* 可根据需要调整文本颜色 */
}

.header-right a {
    display: flex;
    align-items: center;
    color: #3270af;
    /* 可根据需要调整链接颜色 */
    font-size: 1rem;
}

.header-right a:hover {
    text-decoration: underline;
    /* 鼠标悬停时增加下划线效果 */
}