@font-face {
    font-family: 'Smiley-Sans'; /* 自定义字体名称 */
    src: url('/home/iwmain/Documents/personal_website/public/fonts/SmileySans-Oblique.otf.woff2') format('woff2'), /* 使用的字体文件路径 */
         url('/home/iwmain/Documents/personal_website/public/fonts/SmileySans-Oblique.ttf') format('truetype');
    font-weight: normal; /* 字体权重 */
    font-style: normal; /* 字体样式 */
}

.gap {
    height: 5rem;
}

.body {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr; /* 三列布局 */
    gap: 3rem;
    width: 100%;
    box-sizing: border-box;
}

.body .left {
    text-align: right;
}

.body .left h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: right;
    margin: 0;
    font-family: 'Smiley-Sans'; /* 使用自定义字体 */
}

.body .left h2 {
    font-size: 1.5rem;
    color: #333;
    text-align: right;
    margin: 0;
}

.body right {
    text-align: left;
}

@media (max-aspect-ratio: 1) {
    .body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }
    .body .left {
        text-align: center;
    }
    .body .left h1 {
        text-align: center;
    }
    .body .left h2 {
        text-align: center;
    }
    .body .right {
        text-align: center;
    }
}