/* Chat.css */

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-container {
    width: 100%;
    max-width: 50rem;
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(248, 249, 250, 0.6);
    backdrop-filter: blur(10px); /* 毛玻璃模糊效果 */
    -webkit-backdrop-filter: blur(10px); /* 兼容Safari */
    border-radius: 1em;
    text-align: end;
  }
  
  .chat-box {
    flex: 1;
    padding: 10px;
    height: 300px;
  }
  
  .chat-message {
    margin: 10px 5px;
    padding: 8px 12px;
    border-radius: 20px;
  }
  
  .chat-message.user {
    /* background-color: #daf8e3; */
    text-wrap: wrap;
    text-align: end;
    
  }
  
  .chat-message.bot {
    /* background-color: #f1f1f1; */
    text-wrap: wrap;
    text-align: start;
  }
  
  .input-container {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    bottom: 0;
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1em;
  }
  
  button {
    padding: 0 15px;
    border: none;
    background-color: #8b4caf;
    color: #fff;
    cursor: pointer;
    border-radius: 1em;
  }
  
  button:hover {
    background-color: #6a3e8b;
  }
  