.download-pdf {
    position: absolute;
    z-index: 5;
    width: 2em;
    height: 2em;
    right: calc(5px);
    top: calc(1em + 5px);
}

.download-pdf-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.resume-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resume-container {
    position: relative;
    display: inline-block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.page-container {
  border-radius: 8px;
  margin-top: 1em;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.react-pdf__message--loading {
    margin: 1em;
}
